@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway-Bold";
    src: url("../fonts/Raleway-Bold.ttf") format("truetype");
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Raleway", sans-serif;
}

.title {
    font-size: 2em;
    display: block;
    margin-bottom: 25px;
}

.down-btn {
    display: inline-block;
}

.down-btn:hover {
    color: #2e6da4;
    cursor: pointer;
}

.justify {
    text-align: justify;
}

.mt20 {
    margin-top: 20px;
}

.mt40 {
    margin-top: 40px;
}

.vert-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.navbar {
    border: 0;
    border-radius: 0;
    font-weight: bold;
    background: transparent;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
    color: white;
}

#navbar-btn {
    background-color: transparent;
    border: 0;
}

.splash-image {
    width: 100%;
    height: 100%;
    background-image: url("../img/splash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.splash-content {
    font-size: 2.5em;
    color: white;
    display: block;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
    max-width: 100%;
}

.splash-content div {
    font-family: "Raleway";
    border: 3px solid white;
    padding: 20px;
    display: block;
}

.splash-content button {
    margin-top: 20px;
}

#splash-btn {
    font-size: 0.5em;
    opacity: 0.8;
    color: white;
    background: transparent;
    border: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

#splash-btn:hover {
    font-weight: bold;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

/* Content-1 */

#content-1 {
    -webkit-box-shadow: 0px 0px 35px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 35px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 35px 3px rgba(0,0,0,0.75);
    position: relative;
}

#content-1 .row {
    padding: 20px;
    font-size: 1.3em;
    text-align: center;
    line-height: 1.5em;
    max-width: 1200px;
    margin: 0 auto;
}

#profile-pic {
    width: 300px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}

#profile-description-container {
    position: relative;
    height: 300px;
    margin: 20px 0;
}

#profile-description {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#profile-description p {
    text-align: justify;
}

/* Content-2 */
#content-2 {
    padding: 20px;
    color: white;
    text-align: center;
    width: 100%;
    // background-color: #58B0BF;
    background-image: url("../img/language-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#content-2 .row {
    max-width: 500px;
    margin: 0 auto;
}

#content-2 .row div {
    min-height: 200px;
}

.languages-image {
    width: auto;
    max-height: 200px;
    max-width: 100%;
    margin-bottom: 20px;
}

/* Content-3 */

#content-3 {
    text-align: center;
    padding: 30px 20px 50px 20px;
    -webkit-box-shadow: 0px 0px 35px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 35px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 35px 3px rgba(0,0,0,0.75);
    position: relative;
}

#content-3 .row {
    max-width: 800px;
    margin: 0 auto;
}


/* Content-4 */

#content-4 {
    color: white;
    font-family: "Raleway";
    text-align: center;
    padding: 40px;
    background-image: url("../img/work-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#content-4 .row {
    font-size: 1.1em;
    max-width: 600px;
    margin: 0 auto;
}

.work-img {
    height: auto;
    max-width: 100%;
    cursor: pointer;
}

.work-description {
    border-radius: 3px;
    padding: 20px;
    background-color: rgba(0,0,0,0.4);
    color: white;
}

#viddsee-container {
    display: block;
    margin-top: 40px !important;
}

/* Content-5 */

#content-5 {
    position: relative;
    padding: 40px;
    height: 200px;
    text-align: center;
    max-width: 1100px;
}

#content-5 .row {
    padding-bottom: 50px;
}
